NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET="troque-esta-chave"
PLAN_PRICE=29.9

ADMIN_NAME="Administrador"
ADMIN_EMAIL="admin@local.test"
ADMIN_PASSWORD="123456"

MERCADO_PAGO_ACCESS_TOKEN=""
